
// colours from base project

$color-azure:           #55acee;
$color-purple:          #9368E9;
$color-red:             #FB404B;
$color-green:           #87CB16;
$color-orange:          #FFA534;
$color-blue:            #447DF7;
$color-light-blue:      #55acee;
$color-black:           #333;
$color-bg-light-blue:   #e5f3fd;

$black-color:                #333333 !default;
$black-hr:                   #666 !default;

$light-gray:                 #E3E3E3 !default;
$medium-gray:                #DDDDDD !default;
$placeholder-gray:           #C3C3C3 !default;
$medium-dark-gray:           #AAAAAA !default;
$dark-gray:                  #9A9A9A !default;
